@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .custom-btn{
    @apply relative z-10 py-3 px-8 w-fit text-white text-lg font-medium rounded-full flex items-center overflow-hidden space-x-3 outline-1 outline outline-gray-900 transition-colors duration-500 hover:text-gray-900;
    @apply before:absolute before:inset-y-0 before:left-0 before:w-2/3 before:bg-gray-900 before:-z-10 before:transition-all before:duration-500 hover:before:w-0;
    @apply after:absolute after:inset-y-0 after:right-0 after:w-2/3 after:bg-gray-900 after:-z-10 after:transition-all after:duration-500 hover:after:w-0;
  }

  .nav-bar{
    @apply absolute top-0 left-0 h-screen w-3/4 pt-20 bg-primary-100 transition-transform duration-300 z-50 md:static md:w-auto md:h-auto md:p-0 md:bg-transparent  ;
  }

  .overlay-black{
    @apply fixed top-0 left-0 w-screen h-screen bg-black transition-colors duration-300 z-40;
  }
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main{
  width: 12px;
  height: 12px;
  background-color: #111827;
}

.overlay{
  background: url('../public/img/BackgroundLine.svg') center / cover no-repeat;
}

.bg-line{
  background: url('../public/img/VectorHIW.svg') top center / contain no-repeat;
}

.img-white{
  filter: invert(99%) sepia(35%) saturate(989%) hue-rotate(184deg) brightness(109%) contrast(101%);
}

.img-dark{
  filter: invert(26%) sepia(6%) saturate(8%) hue-rotate(317deg) brightness(96%) contrast(82%);
}

.label-check{
  position: relative;
}

.radio-check:checked + label::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  transform: translate(-50%, -50%);
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}

.radio-check:disabled + label {
  opacity: 0.2;
  cursor: no-drop !important;
}

.size-check:checked + label{
  background-color: rgb(63 131 248);
  color: #fff;
  border-color: rgb(63 131 248);;
}

.parent-hover:hover,
.parent-hover.active{
  background-color: rgb(17 24 39) !important;
}

.parent-hover:hover a span:last-of-type,
.parent-hover.active a span:last-of-type{
  color: #fff !important;
}

.parent-hover:hover .change-img-hover,
.parent-hover.active .change-img-hover{
  filter: invert(99%) sepia(35%) saturate(989%) hue-rotate(184deg) brightness(109%) contrast(101%) !important;
}

.remove-scrollbar::-webkit-scrollbar{
  display: none;
}

.animated-background {
  animation: loadingAnimation 1.25s linear infinite forwards;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
}

@keyframes loadingAnimation{
  0%{
    background-position: -120% 0
  }
  100%{
    background-position: 120% 0
  }
}

.account .active{
  color: rgb(17 24 39);
  border-bottom: 2px solid rgb(14,165,233);
}